{% extends 'base.html.twig' %}
{% block stylesheets %}
	<link rel="stylesheet" href="{{asset('assets/prism.css')}}" media="all"/>
{% endblock %}
{% block title %} {{ project }}
	Project Apend
{% endblock %}
{% block pagetitle %} {{ project }}{% trans %}
	Project Append{% endtrans %} 
{% endblock %}
{% block body %}
	<script src="{{asset('assets/prism.js')}}"></script>
	<a href="{{ path('entity_index') }}" class="btn btn-primary mr-2">Back</a>
	<h2 class="mt-3">{{ project }} Project Append</h2>
	<div id="accordion">

		<div class="card">
			<div class="card-header" id="headingOne">
				<h5 class="mb-0">
					<button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
						Permissions
					</button>
					append to
					<span class="text-success">{{ project }}.permissions.yml</span>
				</h5>
			</div>

			<div id="collapseOne" class="collapse " aria-labelledby="headingOne" data-parent="#accordion">
				<div class="card-body">
					<pre class="line-numbers" >
<code class="language-yaml">
{% for entity in entities %}
#{{ entity.singularName|replace({' ': '_'}) |lower }}
{{ entity.singularName|replace({' ': '_'}) |lower }} list:
  title: "&lt;b>{{ entity.singularName|title }}&lt;/b>: Users can list {{ entity.singularName|lower }}"
{{ entity.singularName|replace({' ': '_'}) |lower }} add:
  title: "&lt;b>{{ entity.singularName|title }}&lt;/b>: Users can add {{ entity.singularName|lower }}"
{{ entity.singularName|replace({' ': '_'}) |lower }} show:
  title: "&lt;b>{{ entity.singularName|title }}&lt;/b>: Users can show {{ entity.singularName|lower }}"
{{ entity.singularName|replace({' ': '_'}) |lower }} edit:
  title: "&lt;b>{{ entity.singularName|title }}&lt;/b>: Users can edit {{ entity.singularName|lower }}"
{{ entity.singularName|replace({' ': '_'}) |lower }} translate:
  title: "&lt;b>{{ entity.singularName|title }}&lt;/b>: Users can translate {{ entity.singularName|lower }}"
{{ entity.singularName|replace({' ': '_'}) |lower }} delete:
  title: "&lt;b>{{ entity.singularName|title }}&lt;/b>: Users can delete {{ entity.singularName|lower }}"

{% endfor %}
						</code>
					</pre>
				</div>
			</div>
		</div>

{# routing section #}
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
    Routing
    </button>
    append to <span class="text-success">{{ project }}.routing.yml</span>
      </h5>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
      <div class="card-body">
<pre class="line-numbers">
<code class="language-yaml">
{% for entity in entities %}
#{{ entity.singularName|replace({' ': '_'}) |lower }}
{{ entity.singularName|replace({' ': '_'}) |lower }}.index:
  path: "/admin/{{ entity.singularName|replace({' ': '_'}) |lower }}/index"
  defaults:
    _title: "List {{ entity.singularName| title }}"
    _form: '\Drupal\{{ entity.namespace }}\FilterForm\{{ entity.singularName| title | replace({' ': ''}) }}SearchForm'
  requirements:
    _permission: "{{ entity.singularName|replace({' ': '_'}) |lower }} list"

{{ entity.singularName|replace({' ': '_'}) |lower }}.add:
  path: "/admin/{{ entity.singularName|replace({' ': '_'}) |lower }}/add"
  defaults:
    _title: "Create New {{ entity.singularName| title }}"
    _form: '\Drupal\{{ entity.namespace }}\Form\{{ entity.singularName| title |  replace({' ': ''}) }}Form'
  requirements:
    _permission: "{{ entity.singularName|replace({' ': '_'}) |lower }} add"
    
{{ entity.singularName|replace({' ': '_'}) |lower }}.show:
  path: "/admin/{{ entity.singularName|replace({' ': '_'}) |lower }}/{id}/show"
  defaults:
    _controller: '\Drupal\{{ entity.namespace }}\Controller\{{ entity.singularName| title |  replace({' ': ''}) }}Controller::show'
    _title: "Show {{ entity.singularName| title }}"
  requirements:
    _permission: "{{ entity.singularName|replace({' ': '_'}) |lower }} show"

{{ entity.singularName|replace({' ': '_'}) |lower }}.edit:
  path: "/admin/{{ entity.singularName|replace({' ': '_'}) |lower }}/{id}/edit"
  defaults:
    _title: "Edit {{ entity.singularName|title }}"
    _form: '\Drupal\{{ entity.namespace }}\Form\{{ entity.singularName| title |  replace({' ': ''}) }}Form'
  requirements:
    _permission: "{{ entity.singularName|replace({' ': '_'}) |lower }} edit"

{{ entity.singularName|replace({' ': '_'}) |lower }}.translate:
  path: "/admin/{{ entity.singularName|replace({' ': '_'}) |lower }}/{id}/translate"
  defaults:
    _title: "Translate {{ entity.singularName|title }}"
    _form: '\Drupal\{{ entity.namespace }}\Form\{{ entity.singularName| title |  replace({' ': ''}) }}Form'
  requirements:
    _permission: "{{ entity.singularName|replace({' ': '_'}) |lower }} translate"

{{ entity.singularName|replace({' ': '_'}) |lower }}.delete:
  path: "/admin/{{ entity.singularName|replace({' ': '_'}) |lower }}/{id}/delete"
  defaults:
    _form: '\Drupal\{{ entity.namespace }}\DeleteForm\{{ entity.singularName| title |  replace({' ': ''}) }}DeleteForm'
    _title: "Delete {{ entity.singularName| title }}"
  requirements:
    _access: "TRUE"
    _permission: "{{ entity.singularName|replace({' ': '_'}) |lower }} delete"

{% if entity.hasPublicPage == 1 %}
{{ entity.singularName|replace({' ': '_'}) |lower }}.list:
  path: "/{{ entity.singularName|replace({' ': '_'}) |lower }}/"
  defaults:
    _controller: '\Drupal\{{ entity.namespace }}\Controller\{{ entity.singularName| title |  replace({' ': ''}) }}Controller::list'
    _title: "{{ entity.pluralName| title }}"
  requirements:
    _permission: "access content"

{{ entity.singularName|replace({' ': '_'}) |lower }}.view:
  path: "/{{ entity.singularName|replace({' ': '_'}) |lower }}/{slug}/view"
  defaults:
    _controller: '\Drupal\{{ entity.namespace }}\Controller\{{ entity.singularName| title |  replace({' ': ''}) }}Controller::view'
    _title: "View {{ entity.singularName| title }}"
  requirements:
    _permission: "access content"

{% endif %}
{% endfor %}
</code>
</pre>
      </div>
    </div>
  </div>

{# menu links #}
<div class="card">
    <div class="card-header" id="headingThree">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
    Menu Links
    </button>
    append to <span class="text-success">{{ project }}.links.menu.yml</span>
      </h5>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
      <div class="card-body">
<pre class="line-numbers">
<code class="language-yaml">
{% for entity in entities %}
{{ entity.namespace| lower }}.{{ entity.singularName|lower }}:
  title: "{{ entity.singularName|title }}"
  description: "Configure {{ entity.singularName|title }}"
  route_name: {{ entity.singularName| replace({' ': '_'}) | lower }}.index
  menu_name: {{ entity.namespace| lower }}

{% endfor %}
</code>
</pre>
      </div>
    </div>
  </div>


<div class="card">
    <div class="card-header" id="headingFour">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
           Database install snippet        
           </button>
           append to <span class="text-success">{{ project }}.install</span>
      </h5>
    </div>
    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
      <div class="card-body">
<pre class="line-numbers">
<code class="language-php">
{% for entity in entities %}
//{{ entity.pluralName| title }}
    $schema['{{ entity.pluralName|replace({' ': '_'}) |lower }}'] = array(
        'fields' => array(
            'id' => array(
                'type' => 'serial',
                'unsigned' => TRUE,
                'not null' => TRUE,
            ),
            {% for field in entity.fields %}
'{{ field.name|replace({' ': '_'}) | lower  }}' => array(
    {% if field.type == 1 %}
            'type' => 'varchar',
                'length' => {{ field.length ? field.length : 255 }},
                'default' => '',
    {% elseif field.type == 2 %}
            'type' => 'int',
                'unsigned' => TRUE,
    {% elseif (field.type == 3) or (field.type == 7) %}
            'type' => 'varchar',
                'length' => {{ field.length ? field.length : 255 }},
                'default' => '',
    {% elseif field.type == 4 %}
            'type' => 'text',
    {% elseif field.type == 5 %}
            'type' => 'longtext',
    {% elseif field.type == 6 %}
            'type' => 'varchar',
                'length' => {{ field.length ? field.length : 15 }},
    {% elseif field.type == 8 %}
            'type' => 'float',
    {% elseif field.type == 9 %}
            'type' => 'int',
                'length' => 20,
    {% elseif field.type == 10 %}
            'type' => 'date',
                'mysql_type' => 'date',
    {% elseif field.type == 11 %}
            'type' => 'tinyint',
                'mysql_type' => 'smallint',
                'default' => 1,
    {% elseif field.type == 12 %}
            'type' => 'int',
    {% elseif field.type == 13 %}
            'type' => 'date',
                'mysql_type' => 'date',
    {% endif %}
            'not null' => {{ field.isNullable ? 'FALSE' : 'TRUE' }},
            ),
            {% endfor %}
'slug' => array(
                'type' => 'varchar',
                'length' => 255,
                'default' => '',
                'not null' => TRUE,
            ),
            'active' => array(
                'type' => 'tinyint',
                'mysql_type' => 'smallint',
                'not null' => FALSE,
                'default' => 1,
            ),
            'language' => array(
                'type' => 'varchar',
                'length' => 5,
                'not null' => TRUE,
                'default' => '',
            ),
            'parent_id' => array(
              'type' => 'tinyint',
              'mysql_type' => 'smallint',
              'not null' => FALSE,
              'default' => 0,
            ),
        ),
        'primary key' => array(
            'id',
        ),
    );
	
{% endfor %}
    
</code>
</pre>     
    </div>
    </div>
  </div>

<div class="card">
    <div class="card-header" id="headingeleven">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseeleven" aria-expanded="false" aria-controls="collapseeleven">
          Search </button>
          <span class="text-success">Custom Search Code</span>
      </h5>
    </div>
    <div id="collapseeleven" class="collapse" aria-labelledby="headingeleven" data-parent="#accordion">
      <div class="card-body">
<pre class="line-numbers">
<code  class="language-php">
{% for entity in entities %}
/************************** {{ entity.singularName| lower }} start ****************************/
    $query = $con->select('{{ entity.pluralName|replace({' ': '_'}) | lower }}', '{{ entity.pluralName|replace({' ': '_'}) | first | lower }}');
    $orGroup1 = $query->andConditionGroup()
        ->condition('active', 1)
        ->condition('language', $languageCode);

    $orGroup2 = $query->orConditionGroup()
{% for field in entity.fields %}
{% if field.isSearchable == 1 %}
        ->condition('{{ field.name|replace({' ': '_'}) |lower}}', "%" . $con->escapeLike($key) . "%", 'like')<br>
{% endif %}
{% endfor %};

    $query->condition($orGroup1);
    $query->condition($orGroup2);
    $query->fields('{{ entity.pluralName|replace({' ': '_'}) | first | lower }}');

    $datas = $query->execute()->fetchAll();
    if (!$datas) {
        $query = $con->select('{{ entity.pluralName|replace({' ': '_'}) | lower }}', '{{ entity.pluralName|replace({' ': '_'}) | first | lower }}');
        $orGroup1 = $query->andConditionGroup()
            ->condition('active', 1)
            ->condition('language', 'en');

        $orGroup2 = $query->orConditionGroup()
{% for field in entity.fields %}
{% if field.isSearchable == 1 %}
            ->condition('{{ field.name|replace({' ': '_'}) |lower}}', "%" . $con->escapeLike($key) . "%", 'like')<br>
{% endif %}
{% endfor %};

        $query->condition($orGroup1);
        $query->condition($orGroup2);
        $query->fields('{{ entity.pluralName|replace({' ': '_'}) | first | lower }}');
        $datas = $query->execute()->fetchAll();
    }

    foreach ($datas as $data) {
        $id = $data->id;
        $name = $data->name;
        $search_body = $this->getSubString($data->description);
        $search_body = $this->highlight($key, $search_body);
        $name = $this->highlight($key, $name);
        $view = Url::fromRoute('{{ entity.singularName|replace({' ': '_'}) |lower }}.view', ['slug' => $data->slug], [])->toString();
        $html .= '&lt;li>
                    &lt;div class="post-info">
                        &lt;a href="'.$view.'">'.$name.'&lt;/a>
                        &lt;div class="post-meta">
                            &lt;span class="text-dark text-uppercase font-weight-semibold">{{ entity.singularName| upper }}&lt;/span>
                            &lt;p>' . $search_body . ' &lt;/p> 
                        &lt;/div>
                    &lt;/div>
                &lt;/li>';
    }
/************************** {{ entity.singularName| lower }} end ****************************/ 
{% endfor %}

</code>
</pre>
      </div>
    </div>
    </div>
  </div>


	</div>
{% endblock %}
