{% block body %}
<?php

namespace Drupal\{{ entity.namespace }}\Form;

use Drupal\Core\Database\Database;
use Drupal\Core\Form\FormBase;
use Drupal\Core\Form\FormStateInterface;
use Drupal\Core\Url;
use Symfony\Component\HttpFoundation\RedirectResponse;
use Drupal\{{ entity.namespace }}\Controller\UtilityController;
use Drupal\Core\StringTranslation\StringTranslationTrait;
{% set file = 0 %}
{% for field in fields %}{% if (field.type == 9 and file == 0) %}use Drupal\file\Entity\File; {% set file = 1 %} {% endif %}{% endfor %}


class {{ entity.singularName | title | replace({' ': ''}) }}Form extends FormBase
{
    use StringTranslationTrait;

    public $id;

    /**
     * {@inheritdoc}
     */
    public function getFormId()
    {
        return '{{ entity.singularName|replace({' ': '_'}) |lower }}_form';
    }

    /**
     * {@inheritdoc}
     */
    public function buildForm(array $form, FormStateInterface $form_state, $id = NULL)
    {
        $con = Database::getConnection();
        $data = array();
        $this->id = $id;

        if (isset($id)) {
            $query = $con->select('{{ entity.pluralName|replace({' ': '_'}) | lower }}', '{{ entity.pluralName|replace({' ': '_'}) | first | lower }}')
                ->condition('id', $id)
                ->fields('{{ entity.pluralName|replace({' ': '_'}) | first | lower }}');
            $data = $query->execute()->fetchAssoc();
        }

        $util = new UtilityController();
        $selectedLangCode = $util->getLanguage()['selectedLanguage'];
        $language_list = $util->getLanguage()['languageList'];

        $form['language'] = [
            '#type' => 'select',
            '#title' => $this->t('Language'),
            '#options' => $language_list,
            '#attributes' => array('class' => array('form-control')),
            '#default_value' => $selectedLangCode,
            '#prefix' => '<div class="form-group col-md-6">',
            '#suffix' => '</div>',
        ];

{% for field in fields %}
{% if field.type == 12 %}

        ${{ field.relationEntity.pluralName|replace({' ': '_'}) |lower}} = array();
        $find_{{ field.relationEntity.pluralName|replace({' ': '_'}) | lower }} = \Drupal::database()->select('{{ field.relationEntity.pluralName|replace({' ': '_'}) | lower }}', '{{ field.relationEntity.pluralName|replace({' ': '_'}) | first | lower }}')
            ->fields('{{ field.relationEntity.pluralName|replace({' ': '_'}) | first | lower }}', ['id', '{{ field.relationField.name |replace({' ': '_'}) |lower}}']);
        ${{ field.relationEntity.pluralName|replace({' ': '_'}) |lower}}_data = $find_{{ field.relationEntity.pluralName|replace({' ': '_'}) | lower }}->execute()->fetchAll();
        foreach(${{ field.relationEntity.pluralName|replace({' ': '_'}) |lower}}_data as $value){
            ${{ field.relationEntity.pluralName|replace({' ': '_'}) |lower}}[$value->id] = $value->{{ field.relationField.name |replace({' ': '_'}) |lower}};
        }

{% endif %}
        $form['group']['{{ field.name|replace({' ': '_'}) | lower  }}'] = [
            '#title' => $this->t('{{ field.name | title  }}'),
            '#required' => {{ field.isNullable ? 'FALSE' : 'TRUE' }},
    {% if field.type == 1 and field.isOnForm == 1 %}
        '#type' => 'textfield',
            '#maxlength' => {{ field.length ? field.length : 255 }},
            '#default_value' => (isset($data['{{ field.name|replace({' ': '_'}) | lower  }}'])) ? $data['{{ field.name|replace({' ': '_'}) | lower  }}'] : '',
    {% elseif field.type == 2 and field.isOnForm == 1 %}
        '#type' => 'number',
            '#maxlength' => {{ field.length ? field.length : 255 }},
            '#default_value' => (isset($data['{{ field.name|replace({' ': '_'}) | lower  }}'])) ? $data['{{ field.name|replace({' ': '_'}) | lower  }}'] : '',
    {% elseif field.type == 3 and field.isOnForm == 1 %}
        '#type' => 'url',
            '#maxlength' => {{ field.length ? field.length : 255 }},
            '#default_value' => (isset($data['{{ field.name|replace({' ': '_'}) | lower  }}'])) ? $data['{{ field.name|replace({' ': '_'}) | lower  }}'] : '',
    {% elseif (field.type == 4 and field.isOnForm == 1 ) or (field.type == 5 and field.isOnForm == 1) %}
        '#type' => 'text_format',
            '#format' => 'basic_html',
            '#default_value' => (isset($data['{{ field.name|replace({' ': '_'}) | lower  }}'])) ? $data['{{ field.name|replace({' ': '_'}) | lower  }}'] : '',
    {% elseif field.type == 6 and field.isOnForm == 1 %}
        '#type' => 'tel',
            '#maxlength' => {{ field.length ? field.length : 15 }},
            '#default_value' => (isset($data['{{ field.name|replace({' ': '_'}) | lower  }}'])) ? $data['{{ field.name|replace({' ': '_'}) | lower  }}'] : '',
    {% elseif field.type == 7 and field.isOnForm == 1 %}
        '#type' => 'email',
            '#maxlength' => {{ field.length ? field.length : 45 }},
            '#default_value' => (isset($data['{{ field.name|replace({' ': '_'}) | lower  }}'])) ? $data['{{ field.name|replace({' ': '_'}) | lower  }}'] : '',
    {% elseif field.type == 8 and field.isOnForm == 1 %}
        '#type' => 'number',
            '#default_value' => (isset($data['{{ field.name|replace({' ': '_'}) | lower  }}'])) ? $data['{{ field.name|replace({' ': '_'}) | lower  }}'] : '',
    {% elseif field.type == 9 and field.isOnForm == 1 %}
        '#description' => $this->t(' Allowed file types: {{ field.validation }}'),
            '#type' => 'managed_file',
            '#default_value' => (isset($data['{{ field.name|replace({' ': '_'}) | lower  }}'])) ? $data['{{ field.name|replace({' ': '_'}) | lower  }}'] : [],
            '#upload_location' => 'public://{{entity.singularName|replace({' ': '_'}) |lower }}/',
            '#upload_validators' => array(
                'file_validate_extensions' => array('{{ field.validation }}')
            ),
    {% elseif field.type == 10 and field.isOnForm == 1 %}
        '#type' => 'date',
            '#default_value' => (isset($data['{{ field.name|replace({' ': '_'}) | lower  }}'])) ? $data['{{ field.name|replace({' ': '_'}) | lower  }}'] : '',
    {% elseif field.type == 11 and field.isOnForm == 1 %}
            '#type' => 'checkbox',
                '#default_value' => (isset($data['{{ field.name|replace({' ': '_'}) | lower  }}'])) ? $data['{{ field.name|replace({' ': '_'}) | lower  }}'] : '',
    {% elseif field.type == 12 and field.isOnForm == 1 %}
            '#type' => 'select',
            '#options' => ${{ field.relationEntity.pluralName|replace({' ': '_'}) |lower}},
            '#default_value' => (isset($data['{{ field.name|replace({' ': '_'}) | lower  }}'])) ? $data['{{ field.name|replace({' ': '_'}) | lower  }}'] : '',
    {% elseif field.type == 13 and field.isOnForm == 1 %}
        '#type' => 'datetime',
            '#default_value' => (isset($data['{{ field.name|replace({' ': '_'}) | lower  }}'])) ? $data['{{ field.name|replace({' ': '_'}) | lower  }}'] : '',
{% endif %}
        '#attributes' => array('class' => array('form-control')),
            '#prefix' => '<div class="form-group col-md-4">',
            '#suffix' => '</div>',
        ];

{% endfor %}

        $form['active'] = [
            '#type' => 'checkbox',
            '#title' => $this->t('Active'),
            '#default_value' => (isset($data['active'])) ? $data['active'] : '',
            '#attributes' => ['class' => ['mt-4 ']],
        ];

        $form['submit'] = [
            '#type' => 'submit',
            '#value' => $this->t('Save'),
            '#button_type' => 'primary'
        ];

        $form['#attached']['library'][] = '{{ entity.namespace}}/bootstrap';

        $form['#cache']['max-age'] = 0;

        return $form;
    }

    /**
     * @param array $form
     * @param FormStateInterface $form_state
     */
    public function validateForm(array &$form, FormStateInterface $form_state)
    {
{% for field in fields %}
{% if field.isNullable == 0 %}
        if (!$form_state->getValue('{{ field.name|replace({' ': '_'}) | lower  }}') || empty($form_state->getValue('{{ field.name|replace({' ': '_'}) | lower  }}'))) {
            $form_state->setErrorByName('{{ field.name|replace({' ': '_'}) | lower  }}', $this->t('{{field.name}} is required.'));
        }

{% endif %}
{% endfor %}
    }

    /**
     * {@inheritdoc}
     */
    public function submitForm(array &$form, FormStateInterface $form_state)
    {
{% for field in fields %}
{% if field.type == 9 %}
        $file = $form_state->getValue('{{ field.name|replace({' ': '_'}) | lower  }}');
{% endif %}
{% endfor %}
        $util = new UtilityController();
        $slug = $util->slugify('{{ entity.pluralName|replace({' ': '_'}) |lower }}', $form_state->getValue('{% for field in fields %}{% if field.isSluggable %}{{ field.name |replace({' ': '_'}) | lower }}{% endif %}{% endfor %}'));
        $data = array(
{% for field in fields %}
{% if field.type == 9 %}
            '{{ field.name|replace({' ': '_'}) | lower  }}' => $file[0],
{% elseif field.type == 4 or field.type == 5 %}
            '{{ field.name|replace({' ': '_'}) | lower  }}' => $form_state->getValue('{{ field.name|replace({' ': '_'}) | lower  }}')['value'],
{% else %}
            '{{ field.name|replace({' ': '_'}) | lower  }}' => $form_state->getValue('{{ field.name|replace({' ': '_'}) | lower  }}'),
{% endif %}
{% endfor %}
            'slug' => $slug,
            'active' => $form_state->getValue('active'),
            'language' => $form_state->getValue('language'),
        );
{% for field in fields %}
{% if field.type == 9 %}
        if ($file) {
            $file = File::load($file[0]);
            $file->setPermanent();
            $file->save();
        }
{% endif %}
{% endfor %}

        $status = '';
        $id = $this->id;
        if (isset($id)) {
            $con = Database::getConnection();
            $qry = $con->select('{{ entity.pluralName|replace({' ': '_'}) |lower }}', '{{ entity.pluralName|replace({' ': '_'}) | first | lower }}')
                ->condition('id', $id)
                ->fields('{{ entity.pluralName|replace({' ': '_'}) | first | lower }}');
            $original = $qry->execute()->fetchAssoc();

            $edit = \Drupal::database()->update('{{ entity.pluralName|replace({' ': '_'}) |lower }}')->fields($data)->condition('id', $id)->execute();

            if ($edit) {
                $util->logger("EDIT", "{{ entity.singularName | capitalize}}", $id, $original, $data);
                $status = 'Updated {{ entity.singularName | capitalize }} Succesfully';
            }
        } else {
            $new = \Drupal::database()->insert('{{ entity.pluralName|replace({' ': '_'}) |lower }}')->fields($data)->execute();
            if ($new) {
                $util->logger("ADD", "{{ entity.singularName | capitalize}}", $new, $data);
                $status = 'Created {{ entity.singularName | capitalize }} Succesfully';
            }
        }

        \Drupal::messenger()->addStatus($status);
        $url = new Url('{{ entity.singularName|replace({' ': '_'}) |lower }}.index');
        $response = new RedirectResponse($url->toString());
        $response->send();
    }
}
{% endblock %}