{% extends 'base.html.twig' %}
{% block stylesheets %}
<link rel="stylesheet" href="{{asset('assets/prism.css')}}" media="all"/>
{% endblock %}

{% block title %}Entity{% endblock %}

{% block body %}
<script src="{{asset('assets/prism.js')}}"></script>
<a href="{{ path('entity_index') }}" class="btn btn-primary mr-2 mb-2">Back</a>
<h1 class="mt-2 d-inline mb-2">Entity</h1>
<div class="row">
<div class="col-md-3">
    <table class="table">
        <tbody>
            <tr>
                <th>Singular</th>
                <td>{{ entity.singularName }}</td>
            </tr>
            <tr>
                <th>Plural</th>
                <td>{{ entity.pluralName }}</td>
            </tr>
            <tr>
                <th>Namespace</th>
                <td>{{ entity.namespace }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ entity.description }}</td>
            </tr>
            <tr>
                <th>Has Public Page</th>
                <td>{{ entity.hasPublicPage ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table><hr>
    <h3 class="text-success">Fields</h3>
    <ol>
    {% for field in entity.fields %}
        <li><b>{{ field.name }}</b>: {% if field.type == 1 %} String {% elseif field.type == 2 %} Integer {% elseif field.type == 3 %} URL {% elseif field.type == 4 %} Text {% elseif field.type == 5 %} Longtext {% elseif field.type == 6 %} Phone {% elseif field.type == 7 %} Email {% elseif field.type == 8 %} Decimal {% elseif field.type == 9 %} File {% elseif field.type == 10 %} Date {% elseif field.type == 11 %} Boolean {% elseif field.type == 12 %} Relation {% elseif field.type == 13 %} DateTime {% else %} Unknown {% endif %}, {{ field.isNullable ? 'NULL':'NOT NULL'}}</li>
    {% endfor %}
    </ol>
    </div>
    <div class="col-md-9">
    <div id="accordion">
      <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
    Permissions
    </button>
    append to <span class="text-success">{{ entity.namespace }}.permissions.yml</span>
      </h5>
    </div>

    <div id="collapseOne" class="collapse " aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
<pre class="line-numbers" >
<code class="language-yaml">
#{{ entity.singularName|replace({' ': '_'}) |lower }}
{{ entity.singularName|replace({' ': '_'}) |lower }} list:
    title: "&lt;b>{{ entity.singularName|title }}&lt;/b>: Users can list {{ entity.singularName|lower }}" 
{{ entity.singularName|replace({' ': '_'}) |lower }} add:
    title: "&lt;b>{{ entity.singularName|title }}&lt;/b>: Users can add {{ entity.singularName|lower }}"
{{ entity.singularName|replace({' ': '_'}) |lower }} show:
    title: "&lt;b>{{ entity.singularName|title }}&lt;/b>: Users can show {{ entity.singularName|lower }}"
{{ entity.singularName|replace({' ': '_'}) |lower }} edit:
    title: "&lt;b>{{ entity.singularName|title }}&lt;/b>: Users can edit {{ entity.singularName|lower }}"
{{ entity.singularName|replace({' ': '_'}) |lower }} delete:
    title: "&lt;b>{{ entity.singularName|title }}&lt;/b>: Users can delete {{ entity.singularName|lower }}"
</code>
</pre>
      </div>
    </div>
  </div>  
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
    Routing
    </button>
    append to <span class="text-success">{{ entity.namespace }}.routing.yml</span>
      </h5>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
      <div class="card-body">
<pre class="line-numbers">
<code class="language-yaml">
#{{ entity.singularName|replace({' ': '_'}) |lower }}
{{ entity.singularName|replace({' ': '_'}) |lower }}.index:
  path: "/admin/{{ entity.singularName|replace({' ': '_'}) |lower }}/index"
  defaults:
    _title: "{{ entity.singularName| title }}"
    _form: '\Drupal\{{ entity.namespace }}\FilterForm\{{ entity.singularName| title | replace({' ': ''}) }}SearchForm'
  requirements:
    _permission: "{{ entity.singularName|replace({' ': '_'}) |lower }} list"

{{ entity.singularName|replace({' ': '_'}) |lower }}.add:
  path: "/admin/{{ entity.singularName|replace({' ': '_'}) |lower }}/add"
  defaults:
    _title: "Create {{ entity.singularName| title }}"
    _form: '\Drupal\{{ entity.namespace }}\Form\{{ entity.singularName| title |  replace({' ': ''}) }}Form'
  requirements:
    _permission: "{{ entity.singularName|replace({' ': '_'}) |lower }} add"
    
{{ entity.singularName|replace({' ': '_'}) |lower }}.show:
  path: "/admin/{{ entity.singularName|replace({' ': '_'}) |lower }}/{id}/show"
  defaults:
    _controller: '\Drupal\{{ entity.namespace }}\Controller\{{ entity.singularName| title |  replace({' ': ''}) }}Controller::show'
    _title_callback: '\Drupal\{{ entity.namespace }}\Controller\{{ entity.singularName| title |  replace({' ': ''}) }}Controller::getTitle'
  requirements:
    _permission: "{{ entity.singularName|replace({' ': '_'}) |lower }} show"

{{ entity.singularName|replace({' ': '_'}) |lower }}.edit:
  path: "/admin/{{ entity.singularName|replace({' ': '_'}) |lower }}/{id}/edit"
  defaults:
    _title_callback: '\Drupal\{{ entity.namespace }}\Controller\{{ entity.singularName| title |  replace({' ': ''}) }}Controller::getTitle'
    _form: '\Drupal\{{ entity.namespace }}\Form\{{ entity.singularName| title |  replace({' ': ''}) }}Form'
  requirements:
    _permission: "{{ entity.singularName|replace({' ': '_'}) |lower }} edit"

{{ entity.singularName|replace({' ': '_'}) |lower }}.delete:
  path: "/admin/{{ entity.singularName|replace({' ': '_'}) |lower }}/{id}/delete"
  defaults:
    _form: '\Drupal\{{ entity.namespace }}\DeleteForm\{{ entity.singularName| title |  replace({' ': ''}) }}DeleteForm'
    _title_callback: '\Drupal\{{ entity.namespace }}\Controller\{{ entity.singularName| title |  replace({' ': ''}) }}Controller::getTitle'
  requirements:
    _access: "TRUE"
    _permission: "{{ entity.singularName|replace({' ': '_'}) |lower }} delete"

{% if entity.hasPublicPage == 1 %}
{{ entity.singularName|replace({' ': '_'}) |lower }}.list:
  path: "/{{ entity.singularName|replace({' ': '_'}) |lower }}/"
  defaults:
    _controller: '\Drupal\{{ entity.namespace }}\Controller\{{ entity.singularName| title |  replace({' ': ''}) }}Controller::list'
    _title: "{{ entity.pluralName| title }}"
  requirements:
    _permission: "access content"

{{ entity.singularName|replace({' ': '_'}) |lower }}.view:
  path: "/{{ entity.singularName|replace({' ': '_'}) |lower }}/{slug}/view"
  defaults:
    _controller: '\Drupal\{{ entity.namespace }}\Controller\{{ entity.singularName| title |  replace({' ': ''}) }}Controller::view'
    _title_callback: '\Drupal\{{ entity.namespace }}\Controller\{{ entity.singularName| title |  replace({' ': ''}) }}Controller::getTitle'
  requirements:
    _permission: "access content"
{% endif %}
</code>
</pre>
      </div>
    </div>
  </div>

  {# action links #}
<div class="card">
    <div class="card-header" id="heading2Nine">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse2Nine" aria-expanded="false" aria-controls="collapse2Nine">
    Action Links
    </button>
    append to <span class="text-success">{{ entity.namespace }}.links.action.yml</span>
      </h5>
    </div>
    <div id="collapse2Nine" class="collapse" aria-labelledby="heading2Nine" data-parent="#accordion">
      <div class="card-body">
<pre class="line-numbers">
<code class="language-yaml">
{# {% for entity in entities %} #}
{{ entity.singularName|replace({' ': '_'}) |lower }}.add: 
  title: 'Add {{ entity.singularName | title}}'
  route_name: {{ entity.singularName|replace({' ': '_'}) |lower }}.add
  appears_on:
    - {{ entity.singularName|replace({' ': '_'}) |lower }}.index

{# {% endfor %} #}
</code>
</pre>
      </div>
    </div>
  </div>

   <div class="card">
    <div class="card-header" id="headingThree">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
    Menu Links
    </button>
    append to <span class="text-success">{{ entity.namespace }}.links.menu.yml</span>
      </h5>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
      <div class="card-body">
<pre class="line-numbers">
<code class="language-yaml">
{{ entity.namespace| lower }}.{{ entity.singularName|lower }}:
  title: '{{ entity.singularName|title }}'
  description: 'Configure {{ entity.singularName|title }}'
  route_name: {{ entity.singularName| replace({' ': '_'}) | lower }}.index
  menu_name: {{ entity.namespace| lower }}
</code>
</pre>
      </div>
    </div>
  </div>
 <div class="card">
    <div class="card-header" id="headingFour">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
           Database install snippet        
           </button>
           append to <span class="text-success">{{ entity.namespace }}.install</span>
      </h5>
    </div>
    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
      <div class="card-body">
<pre class="line-numbers">
<code class="language-php">
    //{{ entity.pluralName| title }}
    $schema['{{ entity.pluralName|replace({' ': '_'}) |lower }}'] = array(
        'fields' => array(
            'id' => array(
                'type' => 'serial',
                'unsigned' => TRUE,
                'not null' => TRUE,
            ),
            {% for field in fields %}
'{{ field.name|replace({' ': '_'}) | lower  }}' => array(
    {% if field.type == 1 %}
            'type' => 'varchar',
                'length' => {{ field.length ? field.length : 255 }},
                'default' => '',
    {% elseif field.type == 2 %}
            'type' => 'int',
                'unsigned' => TRUE,
    {% elseif (field.type == 3) or (field.type == 7) %}
            'type' => 'varchar',
                'length' => {{ field.length ? field.length : 255 }},
                'default' => '',
    {% elseif field.type == 4 %}
            'type' => 'text',
    {% elseif field.type == 5 %}
            'type' => 'longtext',
    {% elseif field.type == 6 %}
            'type' => 'varchar',
                'length' => {{ field.length ? field.length : 15 }},
    {% elseif field.type == 8 %}
            'type' => 'float',
    {% elseif field.type == 9 %}
            'type' => 'int',
                'length' => 20,
    {% elseif field.type == 10 %}
            'type' => 'date',
                'mysql_type' => 'date',
    {% elseif field.type == 11 %}
            'type' => 'tinyint',
                'mysql_type' => 'smallint',
                'default' => 1,
    {% elseif field.type == 12 %}
            'type' => 'int',
    {% elseif field.type == 13 %}
            'type' => 'date',
                'mysql_type' => 'date',
    {% endif %}
            'not null' => {{ field.isNullable ? 'FALSE' : 'TRUE' }},
            ),
            {% endfor %}
'slug' => array(
                'type' => 'varchar',
                'length' => 255,
                'default' => '',
                'not null' => TRUE,
            ),
            'active' => array(
                'type' => 'tinyint',
                'mysql_type' => 'smallint',
                'not null' => FALSE,
                'default' => 1,
            ),
            'language' => array(
                'type' => 'varchar',
                'length' => 5,
                'not null' => TRUE,
                'default' => '',
            ),
        ),
        'primary key' => array(
            'id',
        ),
    );
</code>
</pre>     
    </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingFive">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
          Controller 
          </button>
          <span class="text-success">{{ entity.singularName | title | replace({' ': ''}) }}Controller.php</span>
      </h5>
    </div>
    <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
      <div class="card-body">
<pre class="line-numbers">
<code class="language-php">&lt;?php

namespace Drupal\{{ entity.namespace }}\Controller;

use Drupal\Core\Controller\ControllerBase;
use Drupal\Core\Database\Database;
use Drupal\Core\Url;
{% set file = 0 %}
{% for field in fields %}{% if (field.type == 9 and file == 0) %}use Drupal\file\Entity\File; {% set file = 1 %} {% endif %}{% endfor %}


/**
 * Class {{ entity.singularName | title | replace({' ': ''}) }}Controller
 * @package Drupal\{{ entity.namespace }}\Controller
 */
class {{ entity.singularName | title | replace({' ': ''}) }}Controller extends ControllerBase
{
    /**
     * @return array
     */
    public function getTitle($id)
    {
        return UtilityController::generateTitle($id, '{{ entity.pluralName|replace({' ': '_'}) | lower }}', '{% for field in fields %}{% if field.isSluggable %}{{ field.name |replace({' ': '_'}) | lower }}{% endif %}{% endfor %}');
    }

    /**
     * @return array
     */
    public function show($id)
    {
        $con = Database::getConnection();
        $query = $con->select('{{ entity.pluralName|replace({' ': '_'}) | lower }}', '{{ entity.pluralName|replace({' ': '_'}) | first | lower }}')
            ->condition('id', $id)
            ->fields('{{ entity.pluralName|replace({' ': '_'}) | first | lower }}');
        $data = $query->execute()->fetchAssoc();
{% for field in fields %}
{% if field.type == 9 %}
        ${{ field.name|replace({' ': '_'}) | lower  }} = '';
        $file = File::load($data['{{ field.name|replace({' ': '_'}) | lower  }}']);
        if ($file)
            ${{ field.name|replace({' ': '_'}) | lower  }} = $file->createFileUrl();
{% elseif field.type == 12 %}
        ${{ field.relationEntity.singularName|replace({' ': '_'}) |lower}} = '';<br>
        ${{ field.relationEntity.singularName|replace({' ': '_'}) |lower}}_id = $data['{{ field.name|replace({' ': '_'}) |lower}}'];<br>
        if (${{ field.relationEntity.singularName|replace({' ': '_'}) |lower}}_id) {
            $find_{{ field.relationEntity.singularName|replace({' ': '_'}) | lower }} = \Drupal::database()->select('{{ field.relationEntity.pluralName|replace({' ': '_'}) | lower }}', '{{ field.relationEntity.pluralName|replace({' ': '_'}) | first | lower }}')
                ->condition('id', ${{ field.relationEntity.singularName|replace({' ': '_'}) |lower}}_id)
                ->fields('{{ field.relationEntity.pluralName|replace({' ': '_'}) | first | lower }}');
            ${{ field.relationEntity.singularName|replace({' ': '_'}) |lower}}_data = $find_{{ field.relationEntity.singularName|replace({' ': '_'}) | lower }}->execute()->fetchAll();
            ${{ field.relationEntity.singularName|replace({' ': '_'}) |lower}} =  ${{ field.relationEntity.singularName|replace({' ': '_'}) |lower}}_data[0]->{{ field.relationField.name |replace({' ': '_'}) |lower}};
        }
{% elseif field.type == 11 %}
        ${{ field.name|replace({' ': '_'}) | lower  }} = $data['{{ field.name|replace({' ': '_'}) | lower  }}'] ? "Yes" : "No" ;
{% endif %}
{% endfor %}
        $active = $data['active'] ? "Yes" : "No";
        $back = Url::fromRoute('{{ entity.singularName|replace({' ': '_'}) |lower }}.index', [])->toString();
        $html = '
{% for field in fields %}
{% if field.type == 11 %}
        &lt;p>&lt;b>' . t('{{ field.name | title}}') . ': &lt;/b> ' . ${{ field.name|replace({' ': '_'}) | lower  }} . '&lt;/p>
{% elseif field.type == 12 %}
        &lt;p>&lt;b>' . t('{{ field.name | title}}') . ': &lt;/b> ' . ${{ field.relationEntity.singularName|replace({' ': '_'}) |lower}} . '&lt;/p>
{% elseif field.type == 9 %}
        &lt;p>&lt;b>' . t('{{ field.name | title}}') . ': &lt;/b> ' . ${{ field.name|replace({' ': '_'}) | lower  }} . '&lt;/p>
{% else %}
        &lt;p>&lt;b>' . t('{{ field.name | title}}') . ': &lt;/b> ' . $data['{{ field.name|replace({' ': '_'}) | lower  }}'] . '&lt;/p>
{% endif %}
{% endfor %}
        &lt;p>&lt;b>' . t('Active') . ': &lt;/b> ' . $active . '&lt;/p>';
        $html .= '&lt;br>&lt;a href="' . $back . '" class="button button--primary">' . t('Back') . '&lt;/a>';

        return [
            '#type' => 'inline_template',
            '#template' => $html
        ];
    }

{% if entity.hasPublicPage == 1 %}
    /**
    * @return array
    */
    public function list()
    {
        return [
        '#type' => 'markup',
        '#markup' => " "
        ];
    }

    /**
     * @return array
     */
    public function view($slug)
    {
        $con = Database::getConnection();
        $query = $con->select('{{ entity.pluralName|replace({' ': '_'}) | lower }}', '{{ entity.pluralName|replace({' ': '_'}) | first | lower }}')
            ->condition('slug', $slug)
            ->fields('{{ entity.pluralName|replace({' ': '_'}) | first | lower }}');
        $data = $query->execute()->fetchAssoc();
{% for field in fields %}
{% if field.type == 9 %}
        ${{ field.name|replace({' ': '_'}) | lower  }} = '';
        $file = File::load($data['{{ field.name|replace({' ': '_'}) | lower  }}']);
        if ($file)
            ${{ field.name|replace({' ': '_'}) | lower  }} = $file->createFileUrl();
{% elseif field.type == 12 %}
        ${{ field.relationEntity.singularName|replace({' ': '_'}) |lower}} = '';<br>
        ${{ field.relationEntity.singularName|replace({' ': '_'}) |lower}}_id = $data['{{ field.name|replace({' ': '_'}) |lower}}'];<br>
        if (${{ field.relationEntity.singularName|replace({' ': '_'}) |lower}}_id) {
            $find_{{ field.relationEntity.singularName|replace({' ': '_'}) | lower }} = \Drupal::database()->select('{{ field.relationEntity.pluralName|replace({' ': '_'}) | lower }}', '{{ field.relationEntity.pluralName|replace({' ': '_'}) | first | lower }}')
                ->condition('id', ${{ field.relationEntity.singularName|replace({' ': '_'}) |lower}}_id)
                ->fields('{{ field.relationEntity.pluralName|replace({' ': '_'}) | first | lower }}');
            ${{ field.relationEntity.singularName|replace({' ': '_'}) |lower}}_data = $find_{{ field.relationEntity.singularName|replace({' ': '_'}) | lower }}->execute()->fetchAll();
            ${{ field.relationEntity.singularName|replace({' ': '_'}) |lower}} =  ${{ field.relationEntity.singularName|replace({' ': '_'}) |lower}}_data[0]->{{ field.relationField.name |replace({' ': '_'}) |lower}};
        }
{% elseif field.type == 11 %}
        ${{ field.name|replace({' ': '_'}) | lower  }} = $data['{{ field.name|replace({' ': '_'}) | lower  }}'] ? "Yes" : "No" ;
{% endif %}
{% endfor %}
        $back = Url::fromRoute('{{ entity.singularName|replace({' ': '_'}) |lower }}.list', [])->toString();
        $html = '
{% for field in fields %}
{% if field.type == 11 %}
        &lt;p>&lt;b>' . t('{{ field.name | title}}') . ': &lt;/b> ' . ${{ field.name|replace({' ': '_'}) | lower  }} . '&lt;/p>
{% elseif field.type == 12 %}
        &lt;p>&lt;b>' . t('{{ field.name | title}}') . ': &lt;/b> ' . ${{ field.relationEntity.singularName|replace({' ': '_'}) |lower}} . '&lt;/p>
{% elseif field.type == 9 %}
        &lt;p>&lt;b>' . t('{{ field.name | title}}') . ': &lt;/b> ' . ${{ field.name|replace({' ': '_'}) | lower  }} . '&lt;/p>
{% else %}
        &lt;p>&lt;b>' . t('{{ field.name | title}}') . ': &lt;/b> ' . $data['{{ field.name|replace({' ': '_'}) | lower  }}'] . '&lt;/p>
{% endif %}
{% endfor %}
        &lt;p>&lt;b>' . t('Active') . ': &lt;/b> ' . $data['active'] ? "Yes" : "No" . '&lt;/p>';

        return [
            '#type' => 'markup',
            '#markup' => $html
        ];
    }
{% endif %}
}
</code>
</pre>      
    </div>
    </div>
  </div>
      <div class="card">
    <div class="card-header" id="headingSix">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
          DeleteForm 
          </button>
          <span class="text-success">{{ entity.singularName | title | replace({' ': ''}) }}DeleteForm.php</span>
      </h5>
    </div>
    <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">
      <div class="card-body">
<pre class="line-numbers">
<code class="language-php">&lt;?php

namespace Drupal\{{ entity.namespace }}\DeleteForm;

use Drupal\Core\Form\FormStateInterface;
use Drupal\Core\Form\ConfirmFormBase;
use Drupal\Core\Url;
use Drupal\Core\Database\Database;
use Drupal\{{ entity.namespace }}\Controller\UtilityController;

/**
 * Class {{ entity.singularName | title | replace({' ': ''}) }}DeleteForm
 * @package Drupal\{{ entity.namespace }}\DeleteForm
 */
class {{ entity.singularName | title | replace({' ': ''}) }}DeleteForm extends ConfirmFormBase
{

    public $id;

    /**
     * {@inheritdoc}
     */
    public function getFormId()
    {
        return '{{ entity.singularName|replace({' ': '_'}) |lower }}_delete_form';
    }

    public function getQuestion()
    {
        return UtilityController::generateTitle($this->id, '{{ entity.pluralName|replace({' ': '_'}) | lower }}', '{% for field in fields %}{% if field.isSluggable %}{{ field.name |replace({' ': '_'}) | lower }}{% endif %}{% endfor %}');

    }

    public function getCancelUrl()
    {
        return new Url('{{ entity.singularName|replace({' ': '_'}) |lower }}.index');
    }

    public function getDescription()
    {
        return t('Do you want to delete this {{ entity.singularName }}?');
    }

    /**
     * {@inheritdoc}
     */
    public function getConfirmText()
    {
        return t('Delete it!');
    }

    /**
     * {@inheritdoc}
     */
    public function getCancelText()
    {
        return t('Cancel');
    }

    /**
     * {@inheritdoc}
     */
    public function buildForm(array $form, FormStateInterface $form_state, $id = NULL)
    {
        $this->id = $id;
        return parent::buildForm($form, $form_state);
    }

    /**
     * {@inheritdoc}
     */
    public function validateForm(array &$form, FormStateInterface $form_state)
    {
        parent::validateForm($form, $form_state);
    }

    /**
     * {@inheritdoc}
     */
    public function submitForm(array &$form, FormStateInterface $form_state)
    {
        $con = Database::getConnection();
        $qry = $con->select('{{ entity.pluralName|replace({' ': '_'}) | lower }}', '{{ entity.pluralName|replace({' ': '_'}) | first | lower }}')
            ->condition('id', $this->id)
            ->fields('{{ entity.pluralName|replace({' ': '_'}) | first | lower }}');
        $data = $qry->execute()->fetchAssoc();

        $query = \Drupal::database();
        $query->delete('{{ entity.pluralName|replace({' ': '_'}) | lower }}')
            ->condition('id', $this->id)
            ->execute();
            
        if ($query) {
            UtilityController::setLog("DELETE", "{{ entity.singularName | capitalize}}", $this->id, $data);
        }

        \Drupal::messenger()->addStatus('Succesfully deleted {{ entity.singularName| title }}.');
        $form_state->setRedirect('{{ entity.singularName|replace({' ': '_'}) |lower }}.index');
    }
}
</code>
</pre>      
    </div>
    </div>
  </div>
      <div class="card">
    <div class="card-header" id="headingSeven">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
          FilterForm 

           </button>
           <span class="text-success">{{ entity.singularName | title | replace({' ': ''}) }}SearchForm.php</span>
      </h5>
    </div>
    <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordion">
      <div class="card-body">

<pre class="line-numbers"  >
<code  class="language-php">&lt;?php

namespace Drupal\{{ entity.namespace }}\FilterForm;

use Drupal\Core\Database\Database;
use Drupal\Core\Form\FormBase;
use Drupal\Core\Form\FormStateInterface;
use Drupal\Core\Url;
use Drupal\Core\Link;
use Drupal\{{ entity.namespace }}\Controller\UtilityController;

class {{ entity.singularName | title | replace({' ': ''}) }}SearchForm extends FormBase
{

    /**
    * {@inheritdoc}
    */
    public function getFormId()
    {
        return '{{ entity.singularName|replace({' ': '_'}) |lower }}_search_form';
    }

    /**
    * {@inheritdoc}
    */
    public function buildForm(array $form, FormStateInterface $form_state)
    {
        $header_table = array(
            'id' => t('#'),
{% for field in fields %}
{% if field.isOnIndex == 1 %}
            '{{ field.name|replace({' ': '_'}) | lower  }}' => $this->t('{{ field.name | title  }}'), 
{% endif %}{% endfor %}
            [
                'data' => $this->t('Operations'),
                'colspan' => 2,
            ],
        );

        $form['filters'] = [
            '#type'  => 'container',
            '#open'  => true,
            '#attributes' => ['class' => 'row'],
        ];

{% for field in fields %}
{% if field.isOnFilter == 1 and field.type != 12 %}
        $form['filters']['{{ field.name|replace({' ': '_'}) | lower  }}'] = [
            '#type' => '{% if field.type == 1 %}textfield{% elseif field.type == 2 %}number{% elseif field.type == 3 %}url{% elseif field.type == 6 %}tel{% elseif field.type == 7 %}email{% elseif field.type == 8 %}number{% elseif field.type == 10 %}date{% elseif field.type == 11 %}checkbox{% elseif field.type == 13 %}datetime{% else %}textfield{% endif %}',
            '#title' => $this->t('{{ field.name | title  }}'),
            '#default_value' => (isset($data['{{ field.name|replace({' ': '_'}) | lower  }}'])) ? $data['{{ field.name|replace({' ': '_'}) | lower  }}'] : '',
            '#prefix' => '&lt;div class="form-group col-md-2">',
            '#suffix' => '&lt;/div>',
        ];

{% elseif field.isOnFilter == 1 and field.type == 12  %}
        ${{ field.relationEntity.pluralName|replace({' ': '_'}) |lower}} = array();<br>
        $find_{{ field.relationEntity.pluralName|replace({' ': '_'}) | lower }} = \Drupal::database()->select('{{ field.relationEntity.pluralName|replace({' ': '_'}) | lower }}', '{{ field.relationEntity.pluralName|replace({' ': '_'}) | first | lower }}')
            ->fields('{{ field.relationEntity.pluralName|replace({' ': '_'}) | first | lower }}', ['id', '{{ field.relationField.name |replace({' ': '_'}) |lower}}']);
        ${{ field.relationEntity.pluralName|replace({' ': '_'}) |lower}}_data = $find_{{ field.relationEntity.pluralName|replace({' ': '_'}) | lower }}->execute()->fetchAll();
        foreach(${{ field.relationEntity.pluralName|replace({' ': '_'}) |lower}}_data as $value){
            ${{ field.relationEntity.pluralName|replace({' ': '_'}) |lower}}[$value->id] = $value->{{ field.relationField.name |replace({' ': '_'}) |lower}};
        }
        $form['filters']['{{ field.name|replace({' ': '_'}) | lower  }}'] = [
            '#type' => 'select',
            '#title' => $this->t('{{ field.name | title  }}'),
            '#options' => ${{ field.relationEntity.pluralName|replace({' ': '_'}) |lower}},
            '#attributes' => array('class' => array('form-control')),
            '#default_value' => (isset($data['{{ field.name|replace({' ': '_'}) | lower  }}'])) ? $data['{{ field.name|replace({' ': '_'}) | lower  }}'] : '',
            '#prefix' => '&lt;div class="form-group col-md-2">',
            '#suffix' => '&lt;/div>',
        ];

{% endif %}
{% endfor %}

        $util = new UtilityController();
        $selectedLangCode = $util->getLanguage()['selectedLanguage'];
        $language_list = $util->getLanguage()['languageList'];

        $form['filters']['language'] = [
            '#type' => 'select',
            '#title' => $this->t('Language'),
            '#options' => $language_list,
            '#wrapper_attributes' => ['class' => 'col-md-2 col-xs-12'],
            '#attributes' => array('class' => array('form-control')),
            '#default_value' => $selectedLangCode,
        ];

        $form['filters']['actions'] = [
            '#type' => 'actions'
        ];

        $form['filters']['actions']['submit'] = [
            '#type' => 'submit',
            '#value' => t('Search'),
            '#wrapper_attributes' => ['class' => 'mb-3'],
            '#ajax' => [
                'callback' => [$this, 'findRows'],
                'wrapper' => 'list-container',
            ],
            '#prefix' => '&lt;div class="form-group col-md-1 mt-4">',
            '#suffix' => '&lt;/div>',
        ];

{% for field in fields %}
{% if field.isOnFilter == 1 %}
        ${{ field.name|replace({' ': '_'}) | lower  }} = "";
{% endif %}
{% endfor %}
        $language = UtilityController::getDefaultLanguage();
        $resources = $this->getDataRows({% for field in fields %}{% if field.isOnFilter == 1 %}${{ field.name|replace({' ': '_'}) | lower  }}, {% endif %}{% endfor %}$language);

        // render table
        $form['table'] = [
            '#id' => 'list-container',
            '#type' => 'table',
            '#header' => $header_table,
            '#rows' =>  $resources,
            '#empty' => $this->t('No records found'),
            '#sticky' => TRUE,
        ];

        $form['pager'] = [
            '#type' => 'pager',
        ];

        $form['#attached']['library'][] = '{{ entity.namespace}}/bootstrap';

        return $form;
    }

    /**
     * {@inheritdoc}
     */
    public function validateForm(array &$form, FormStateInterface $form_state)
    {
    }

    /**
     * {@inheritdoc}
     */
    public function submitForm(array &$form, FormStateInterface $form_state)
    {
    }

    private function getDataRows({% for field in fields %}{% if field.isOnFilter == 1 %}${{ field.name|replace({' ': '_'}) | lower  }}, {% endif %}{% endfor %}$language)
    {
        $query = \Drupal::database()->select('{{ entity.pluralName|replace({' ': '_'}) | lower }}', '{{ entity.pluralName|replace({' ': '_'}) | first | lower }}')
            ->fields('{{ entity.pluralName|replace({' ': '_'}) | first | lower }}', ['id'{% for field in fields %}{% if field.isOnIndex == 1 or field.isOnFilter == 1 %}, '{{ field.name|replace({' ': '_'}) | lower }}'{% endif %}{% endfor %}, 'language'])
            ->extend('Drupal\Core\Database\Query\TableSortExtender')
            ->extend('Drupal\Core\Database\Query\PagerSelectExtender')
            ->limit(10);

{% for field in fields %}
{% if field.isOnFilter == 1 %}
        if (${{ field.name|replace({' ': '_'}) | lower  }} != "") {
{% if field.type == 1 %}
            $query->condition('{{ entity.pluralName|replace({' ': '_'}) | first | lower }}.{{ field.name|replace({' ': '_'}) | lower  }}', '%' . ${{ field.name|replace({' ': '_'}) | lower  }} . '%', 'like');
{% else %}
            $query->condition('{{ entity.pluralName|replace({' ': '_'}) | first | lower }}.{{ field.name|replace({' ': '_'}) | lower  }}',  ${{ field.name|replace({' ': '_'}) | lower  }},  '=');
{% endif %}
        }
{% endif %}
{% endfor %}
        if ($language != "") {
            $query->condition('{{ entity.pluralName|replace({' ': '_'}) | first | lower }}.language', $language, '=');
        }
        $query->orderBy('id', 'DESC');
        $results = $query->execute()->fetchAll();

        $rows = [];
        $count = 0;

        foreach ($results as $data) {
            if ($data->id != 0) {

                $count++;
                $linkDelete = '';
                $linkEdit = '';

                $url_view = Url::fromRoute('{{ entity.singularName|replace({' ': '_'}) |lower }}.show', ['id' => $data->id], []);
                $url_translate = Url::fromRoute('{{ entity.singularName|replace({' ': '_'}) |lower }}.translate', ['parent_id' => $data->id], []);
                if (\Drupal::currentUser()->hasPermission('{{ entity.singularName|replace({' ': '_'}) |lower }} delete')) {
                    $delete_options = array(
                        'attributes' => array(
                            'class' => array(
                                'button button--danger',
                            ),
                        ),
                    );
                    $url_delete = Url::fromRoute('{{ entity.singularName|replace({' ': '_'}) |lower }}.delete', ['id' => $data->id], []);
                    $url_delete->setOptions($delete_options);
                    $linkDelete = Link::fromTextAndUrl('Delete', $url_delete);
                }

                if (\Drupal::currentUser()->hasPermission('{{ entity.singularName|replace({' ': '_'}) |lower }} edit')) {
                    $edit_options = array(
                        'attributes' => array(
                            'class' => array(
                                'button button--secondary',
                            ),
                        ),
                    );
                    $url_edit = Url::fromRoute('{{ entity.singularName|replace({' ': '_'}) |lower }}.edit', ['id' => $data->id], []);
                    $linkEdit = Link::fromTextAndUrl('Edit', $url_edit);
                    $url_edit->setOptions($edit_options);
                }
                
                $con = Database::getConnection();
                
                $linkView = Link::fromTextAndUrl('View', $url_view);
{% for field in fields %}
{% if field.isOnIndex == 1 and field.type == 12 %}
                ${{ field.relationEntity.singularName|replace({' ': '_'}) |lower}} = '';
                ${{ field.relationEntity.singularName|replace({' ': '_'}) |lower}}_id = $data->{{ field.name|replace({' ': '_'}) |lower}};
                if (${{ field.relationEntity.singularName|replace({' ': '_'}) |lower}}_id) {
                    $find_{{ field.relationEntity.singularName|replace({' ': '_'}) | lower }} = \Drupal::database()->select('{{ field.relationEntity.pluralName|replace({' ': '_'}) | lower }}', '{{ field.relationEntity.pluralName|replace({' ': '_'}) | first | lower }}')
                        ->condition('id', ${{ field.relationEntity.singularName|replace({' ': '_'}) |lower}}_id)
                        ->fields('{{ field.relationEntity.pluralName|replace({' ': '_'}) | first | lower }}');
                    ${{ field.relationEntity.singularName|replace({' ': '_'}) |lower}}_data = $find_{{ field.relationEntity.singularName|replace({' ': '_'}) | lower }}->execute()->fetchAll();
                    ${{ field.relationEntity.singularName|replace({' ': '_'}) |lower}} =  ${{ field.relationEntity.singularName|replace({' ': '_'}) |lower}}_data[0]->{{ field.relationField.name |replace({' ': '_'}) |lower}};
                }
{% endif %}
{% endfor %}
                $rows[$data->id] = array(
                    'id' => $count,
{% for field in fields %}{% if field.isOnIndex == 1 %}
                    '{{ field.name|replace({' ': '_'}) | lower  }}' => $data->{{ field.name|replace({' ': '_'}) | lower  }}, 
{% endif %}{% endfor %}
                    'edit' =>  $linkEdit,
                    'delete' => $linkDelete,
                );
            }
        }
        return $rows;
    }

    function findRows(array &$form, FormStateInterface $form_state)
    {
        $field = $form_state->getValues();
        $rows = [];
        $rows = $this->getDataRows({% for field in fields %}{% if field.isOnFilter == 1 %}$field["{{ field.name|replace({' ': '_'}) | lower  }}"], {% endif %}{% endfor %} $field["language"]);
        $form['table']['#rows'] = $rows;

        return $form['table'];
    }
}
</code>
</pre>      
    </div>
    </div>
  </div>
      <div class="card">
    <div class="card-header" id="headingEight">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
          Form 
          </button>
          <span class="text-success">{{ entity.singularName | title | replace({' ': ''}) }}Form.php</span>
      </h5>
    </div>
    <div id="collapseEight" class="collapse" aria-labelledby="headingEight" data-parent="#accordion">
      <div class="card-body">
<pre class="line-numbers">
<code  class="language-php">&lt;?php

namespace Drupal\{{ entity.namespace }}\Form;

use Drupal\Core\Database\Database;
use Drupal\Core\Form\FormBase;
use Drupal\Core\Form\FormStateInterface;
use Drupal\Core\Url;
use Symfony\Component\HttpFoundation\RedirectResponse;
use Drupal\{{ entity.namespace }}\Controller\UtilityController;
use Drupal\Core\StringTranslation\StringTranslationTrait;
{% set file = 0 %}
{% for field in fields %}{% if (field.type == 9 and file == 0) %}use Drupal\file\Entity\File; {% set file = 1 %} {% endif %}{% endfor %}


class {{ entity.singularName | title | replace({' ': ''}) }}Form extends FormBase
{
    use StringTranslationTrait;

    public $id;

    /**
     * {@inheritdoc}
     */
    public function getFormId()
    {
        return '{{ entity.singularName|replace({' ': '_'}) |lower }}_form';
    }

    /**
     * {@inheritdoc}
     */
    public function buildForm(array $form, FormStateInterface $form_state, $id = NULL)
    {
        $con = Database::getConnection();
        $data = array();
        $this->id = $id;

        if (isset($id)) {
            $query = $con->select('{{ entity.pluralName|replace({' ': '_'}) | lower }}', '{{ entity.pluralName|replace({' ': '_'}) | first | lower }}')
                ->condition('id', $id)
                ->fields('{{ entity.pluralName|replace({' ': '_'}) | first | lower }}');
            $data = $query->execute()->fetchAssoc();
        }

        $util = new UtilityController();
        $selectedLangCode = $util->getLanguage()['selectedLanguage'];
        $language_list = $util->getLanguage()['languageList'];

        $form['group1'] = [
            '#type'  => 'container',
            '#open'  => true,
            '#attributes' => ['class' => 'row'],
        ];

        $form['group1']['language'] = [
            '#type' => 'select',
            '#title' => $this->t('Language'),
            '#options' => $language_list,
            '#attributes' => array('class' => array('form-control')),
            '#default_value' => $selectedLangCode,
            '#prefix' => '&lt;div class="form-group col-md-2">',
            '#suffix' => '&lt;/div>',
        ];

{% for field in fields %}
{% if field.type == 12 %}

        ${{ field.relationEntity.pluralName|replace({' ': '_'}) |lower}} = array();<br>
        $find_{{ field.relationEntity.pluralName|replace({' ': '_'}) | lower }} = \Drupal::database()->select('{{ field.relationEntity.pluralName|replace({' ': '_'}) | lower }}', '{{ field.relationEntity.pluralName|replace({' ': '_'}) | first | lower }}')
            ->fields('{{ field.relationEntity.pluralName|replace({' ': '_'}) | first | lower }}', ['id', '{{ field.relationField.name |replace({' ': '_'}) |lower}}']);
        ${{ field.relationEntity.pluralName|replace({' ': '_'}) |lower}}_data = $find_{{ field.relationEntity.pluralName|replace({' ': '_'}) | lower }}->execute()->fetchAll();
        foreach(${{ field.relationEntity.pluralName|replace({' ': '_'}) |lower}}_data as $value){
            ${{ field.relationEntity.pluralName|replace({' ': '_'}) |lower}}[$value->id] = $value->{{ field.relationField.name |replace({' ': '_'}) |lower}};
        }

{% endif %}
        $form['group1']['{{ field.name|replace({' ': '_'}) | lower  }}'] = [
            '#title' => $this->t('{{ field.name | title  }}'),
            '#required' => {{ field.isNullable ? 'FALSE' : 'TRUE' }},
    {% if field.type == 1 and field.isOnForm == 1 %}
        '#type' => 'textfield',
            '#maxlength' => {{ field.length ? field.length : 255 }},
            '#default_value' => (isset($data['{{ field.name|replace({' ': '_'}) | lower  }}'])) ? $data['{{ field.name|replace({' ': '_'}) | lower  }}'] : '',
    {% elseif field.type == 2 and field.isOnForm == 1 %}
        '#type' => 'number',
            '#maxlength' => {{ field.length ? field.length : 255 }},
            '#default_value' => (isset($data['{{ field.name|replace({' ': '_'}) | lower  }}'])) ? $data['{{ field.name|replace({' ': '_'}) | lower  }}'] : '',
    {% elseif field.type == 3 and field.isOnForm == 1 %}
        '#type' => 'url',
            '#maxlength' => {{ field.length ? field.length : 255 }},
            '#default_value' => (isset($data['{{ field.name|replace({' ': '_'}) | lower  }}'])) ? $data['{{ field.name|replace({' ': '_'}) | lower  }}'] : '',
    {% elseif (field.type == 4 and field.isOnForm == 1 ) or (field.type == 5 and field.isOnForm == 1) %}
        '#type' => 'text_format',
            '#format' => 'basic_html',
            '#default_value' => (isset($data['{{ field.name|replace({' ': '_'}) | lower  }}'])) ? $data['{{ field.name|replace({' ': '_'}) | lower  }}'] : '',
    {% elseif field.type == 6 and field.isOnForm == 1 %}
        '#type' => 'tel',
            '#maxlength' => {{ field.length ? field.length : 15 }},
            '#default_value' => (isset($data['{{ field.name|replace({' ': '_'}) | lower  }}'])) ? $data['{{ field.name|replace({' ': '_'}) | lower  }}'] : '',
    {% elseif field.type == 7 and field.isOnForm == 1 %}
        '#type' => 'email',
            '#maxlength' => {{ field.length ? field.length : 45 }},
            '#default_value' => (isset($data['{{ field.name|replace({' ': '_'}) | lower  }}'])) ? $data['{{ field.name|replace({' ': '_'}) | lower  }}'] : '',
    {% elseif field.type == 8 and field.isOnForm == 1 %}
        '#type' => 'number',
            '#default_value' => (isset($data['{{ field.name|replace({' ': '_'}) | lower  }}'])) ? $data['{{ field.name|replace({' ': '_'}) | lower  }}'] : '',
    {% elseif field.type == 9 and field.isOnForm == 1 %}
        '#description' => $this->t(' Allowed file types: {{ field.validation }}'),
            '#type' => 'managed_file',
            '#default_value' => (isset($data['{{ field.name|replace({' ': '_'}) | lower  }}'])) ? $data['{{ field.name|replace({' ': '_'}) | lower  }}'] : [],
            '#upload_location' => 'public://{{entity.singularName|replace({' ': '_'}) |lower }}/',
            '#upload_validators' => array(
                'file_validate_extensions' => array('{{ field.validation }}')
            ),
    {% elseif field.type == 10 and field.isOnForm == 1 %}
        '#type' => 'date',
            '#default_value' => (isset($data['{{ field.name|replace({' ': '_'}) | lower  }}'])) ? $data['{{ field.name|replace({' ': '_'}) | lower  }}'] : '',
    {% elseif field.type == 11 and field.isOnForm == 1 %}
            '#type' => 'checkbox',
                '#default_value' => (isset($data['{{ field.name|replace({' ': '_'}) | lower  }}'])) ? $data['{{ field.name|replace({' ': '_'}) | lower  }}'] : '',
    {% elseif field.type == 12 and field.isOnForm == 1 %}
            '#type' => 'select',
            '#options' => ${{ field.relationEntity.pluralName|replace({' ': '_'}) |lower}},
            '#default_value' => (isset($data['{{ field.name|replace({' ': '_'}) | lower  }}'])) ? $data['{{ field.name|replace({' ': '_'}) | lower  }}'] : '',
    {% elseif field.type == 13 and field.isOnForm == 1 %}
        '#type' => 'datetime',
            '#default_value' => (isset($data['{{ field.name|replace({' ': '_'}) | lower  }}'])) ? $data['{{ field.name|replace({' ': '_'}) | lower  }}'] : '',
{% endif %}
        '#attributes' => array('class' => array('form-control')),
            '#prefix' => '&lt;div class="form-group col-md-4">',
            '#suffix' => '&lt;/div>',
        ];

{% endfor %}

        $form['active'] = [
            '#type' => 'checkbox',
            '#title' => $this->t('Active'),
            '#default_value' => (isset($data['active'])) ? $data['active'] : '',
            '#attributes' => ['class' => ['mt-4 ']],
        ];

        $form['submit'] = [
            '#type' => 'submit',
            '#value' => $this->t('Save'),
            '#button_type' => 'primary'
        ];

        $form['#attached']['library'][] = '{{ entity.namespace}}/bootstrap';

        $form['#cache']['max-age'] = 0;

        return $form;
    }

    /**
     * @param array $form
     * @param FormStateInterface $form_state
     */
    public function validateForm(array &$form, FormStateInterface $form_state)
    {
{% for field in fields %}
{% if field.isNullable == 0 %}
        if (!$form_state->getValue('{{ field.name|replace({' ': '_'}) | lower  }}') || empty($form_state->getValue('{{ field.name|replace({' ': '_'}) | lower  }}'))) {
            $form_state->setErrorByName('{{ field.name|replace({' ': '_'}) | lower  }}', $this->t('{{field.name}} is required.'));
        }

{% endif %}
{% endfor %}
    }

    /**
     * {@inheritdoc}
     */
    public function submitForm(array &$form, FormStateInterface $form_state)
    {
{% for field in fields %}
{% if field.type == 9 %}
        $file = $form_state->getValue('{{ field.name|replace({' ': '_'}) | lower  }}');
{% endif %}
{% endfor %}
        $util = new UtilityController();
        $slug = $util->slugify('{{ entity.pluralName|replace({' ': '_'}) |lower }}', $form_state->getValue('{% for field in fields %}{% if field.isSluggable %}{{ field.name |replace({' ': '_'}) | lower }}{% endif %}{% endfor %}'));
        $data = array(
{% for field in fields %}
{% if field.type == 9 %}
            '{{ field.name|replace({' ': '_'}) | lower  }}' => $file[0],
{% elseif field.type == 4 or field.type == 5 %}
            '{{ field.name|replace({' ': '_'}) | lower  }}' => $form_state->getValue('{{ field.name|replace({' ': '_'}) | lower  }}')['value'],
{% else %}
            '{{ field.name|replace({' ': '_'}) | lower  }}' => $form_state->getValue('{{ field.name|replace({' ': '_'}) | lower  }}'),
{% endif %}
{% endfor %}
            'slug' => $slug,
            'active' => $form_state->getValue('active'),
            'language' => $form_state->getValue('language'),
        );
{% for field in fields %}
{% if field.type == 9 %}
        if ($file) {
            $file = File::load($file[0]);
            $file->setPermanent();
            $file->save();
        }
{% endif %}
{% endfor %}

        $status = '';
        $id = $this->id;
        if (isset($id)) {
            $con = Database::getConnection();
            $qry = $con->select('{{ entity.pluralName|replace({' ': '_'}) |lower }}', '{{ entity.pluralName|replace({' ': '_'}) | first | lower }}')
                ->condition('id', $id)
                ->fields('{{ entity.pluralName|replace({' ': '_'}) | first | lower }}');
            $original = $qry->execute()->fetchAssoc();

            $edit = \Drupal::database()->update('{{ entity.pluralName|replace({' ': '_'}) |lower }}')->fields($data)->condition('id', $id)->execute();

            if ($edit) {
                $util->setLog("EDIT", "{{ entity.singularName | capitalize}}", $id, $original, $data);
                $status = 'Updated {{ entity.singularName | capitalize }} Succesfully';
            }
        } else {
            $new = \Drupal::database()->insert('{{ entity.pluralName|replace({' ': '_'}) |lower }}')->fields($data)->execute();
            if ($new) {
                $util->setLog("ADD", "{{ entity.singularName | capitalize}}", $new, $data);
                $status = 'Created {{ entity.singularName | capitalize }} Succesfully';
            }
        }

        \Drupal::messenger()->addStatus($status);
        $url = new Url('{{ entity.singularName|replace({' ': '_'}) |lower }}.index');
        $response = new RedirectResponse($url->toString());
        $response->send();
    }
}
</code>
</pre>      
        </div>
    </div>
  </div>
      <div class="card">
    <div class="card-header" id="headingNine">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
          Block </button>
          <span class="text-success">{{ entity.singularName | title | replace({' ': ''}) }}Block.php</span>
      </h5>
    </div>
    <div id="collapseNine" class="collapse" aria-labelledby="headingNine" data-parent="#accordion">
      <div class="card-body">
<pre class="line-numbers">
<code  class="language-php">&lt;?php

namespace Drupal\{{ entity.namespace }}\Plugin\Block;

use Drupal\Core\Block\BlockBase;
use Drupal\Core\Database\Database;

/**
 * Provides a block called "{{ entity.singularName | title }} block".
 *
 * @Block(
 *  id = "{{ entity.singularName|replace({' ': '_'}) |lower }}_block",
 *  admin_label = @Translation("{{ entity.singularName | title }} block")
 * )
 */

class {{ entity.singularName | title | replace({' ': ''}) }}Block extends BlockBase
{

    /**
     * {@inheritdoc}
     */
    public function build()
    {
        \Drupal::service('page_cache_kill_switch')->trigger();
        $con = Database::getConnection();
        $languageCode = \Drupal::languageManager()->getCurrentLanguage()->getId();

        $query = $con->select('{{ entity.pluralName|replace({' ': '_'}) |lower }}', '{{ entity.pluralName|replace({' ': '_'}) | first | lower }}')
            ->condition('active', 1)
            ->condition('language', $languageCode)
            ->fields('{{ entity.pluralName|replace({' ': '_'}) | first | lower }}');
        ${{ entity.pluralName|replace({' ': '_'}) |lower }} = $query->execute()->fetchAll();

        if(!${{ entity.pluralName|replace({' ': '_'}) |lower }}){
            $default_language = UtilityController::getDefaultLanguage();
            $query = $con->select('{{ entity.pluralName|replace({' ': '_'}) |lower }}', '{{ entity.pluralName|replace({' ': '_'}) | first | lower }}')
                ->condition('active', 1)
                ->condition('language', $default_language)
                ->fields('{{ entity.pluralName|replace({' ': '_'}) | first | lower }}');
            ${{ entity.pluralName|replace({' ': '_'}) |lower }} = $query->execute()->fetchAll();
        }

        return [
            '#theme' => '{{ entity.pluralName|replace({' ': '_'}) |lower }}_list',
            '#{{ entity.pluralName|replace({' ': '_'}) |lower }}' => ${{ entity.pluralName|replace({' ': '_'}) |lower }},
        ];
    }

    /**
     * @return int
     */
    public function getCacheMaxAge() 
    {
        return 0;
    }
}
</code>
</pre>      
    </div>
    </div>

    <div class="card">
    <div class="card-header" id="headingten">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseten" aria-expanded="false" aria-controls="collapseten">
          SQL </button>
          <span class="text-success">Table Creation SQL</span>
      </h5>
    </div>
    <div id="collapseten" class="collapse" aria-labelledby="headingten" data-parent="#accordion">
      <div class="card-body">
<pre class="line-numbers">
<code  class="language-sql">
CREATE TABLE {{ entity.pluralName|replace({' ': '_'}) |lower }} (
    `id` INT NOT NULL AUTO_INCREMENT,
{% for field in fields %}
    `{{ field.name|replace({' ': '_'}) | lower  }}` {% if field.type == 1 %} VARCHAR(255){% elseif field.type == 2 %}INT{% elseif field.type == 3 %}VARCHAR(255){% elseif field.type == 4 %}TEXT{% elseif field.type == 5 %}LONGTEXT{% elseif field.type == 6 %}VARCHAR(100){% elseif field.type == 7 %}VARCHAR(100){% elseif field.type == 8 %}DOUBLE{% elseif field.type == 9 %}VARCHAR(255){% elseif field.type == 10 %}DATE{% elseif field.type == 11 %}BOOLEAN{% elseif field.type == 12 %}INTEGER{% elseif field.type == 13 %}DATETIME{% endif %} {{ field.isNullable ? '' : 'NOT NULL' }}, 
{% endfor %}
    `slug` VARCHAR(255) NOT NULL,
    `active` tinyint(1),
    `language` VARCHAR(5) NOT NULL,
    PRIMARY KEY `id`(`id`)
)ENGINE = INNODB DEFAULT CHARSET = UTF8MB4;
</code>
</pre>
      </div>
    </div>
    </div>
  </div>


    <div class="card">
    <div class="card-header" id="headingeleven">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseeleven" aria-expanded="false" aria-controls="collapseeleven">
          Search </button>
          <span class="text-success">Custom Search Code</span>
      </h5>
    </div>
    <div id="collapseeleven" class="collapse" aria-labelledby="headingeleven" data-parent="#accordion">
      <div class="card-body">
<pre class="line-numbers">
<code  class="language-php">
/************************** {{ entity.singularName| lower }} start ****************************/
    $query = $con->select('{{ entity.pluralName|replace({' ': '_'}) | lower }}', '{{ entity.pluralName|replace({' ': '_'}) | first | lower }}');
    $orGroup1 = $query->andConditionGroup()
        ->condition('active', 1)
        ->condition('language', $languageCode);

    $orGroup2 = $query->orConditionGroup()
{% for field in fields %}
{% if field.isSearchable == 1 %}
        ->condition('{{ field.name|replace({' ': '_'}) |lower}}', "%" . $con->escapeLike($key) . "%", 'like') {% if loop.last %};{% endif %}<br>
{% endif %}
{% endfor %};

    $query->condition($orGroup1);
    $query->condition($orGroup2);
    $query->fields('{{ entity.pluralName|replace({' ': '_'}) | first | lower }}');

    $datas = $query->execute()->fetchAll();
    if (!$datas) {
        $query = $con->select('{{ entity.pluralName|replace({' ': '_'}) | lower }}', '{{ entity.pluralName|replace({' ': '_'}) | first | lower }}');
        $orGroup1 = $query->andConditionGroup()
            ->condition('active', 1)
            ->condition('language', 'en');

        $orGroup2 = $query->orConditionGroup()
{% for field in fields %}
{% if field.isSearchable == 1 %}
        ->condition('{{ field.name|replace({' ': '_'}) |lower}}', "%" . $con->escapeLike($key) . "%", 'like') <br>
{% endif %}
{% endfor %};

        $query->condition($orGroup1);
        $query->condition($orGroup2);
        $query->fields('{{ entity.pluralName|replace({' ': '_'}) | first | lower }}');
        $datas = $query->execute()->fetchAll();
    }

    foreach ($datas as $data) {
        $id = $data->id;
        $name = $data->name;
        $search_body = $this->getSubString($data->description);
        $search_body = $this->highlight($key, $search_body);
        $name = $this->highlight($key, $name);
        $view = Url::fromRoute('{{ entity.singularName|replace({' ': '_'}) |lower }}.view', ['slug' => $data->slug], [])->toString();
        $html .= '&lt;li>
                    &lt;div class="post-info">
                        &lt;a href="'.$view.'">'.$name.'&lt;/a>
                        &lt;div class="post-meta">
                            &lt;span class="text-dark text-uppercase font-weight-semibold">{{ entity.singularName| upper }}&lt;/span>
                            &lt;p>' . $search_body . ' &lt;/p> 
                        &lt;/div>
                    &lt;/div>
                &lt;/li>';
    }
/************************** {{ entity.singularName| lower }} end ****************************/
</code>
</pre>
      </div>
    </div>
    </div>
  </div>
  {# for the accordion #}
</div>
{# for the column #}
</div>
{# for the row #}
</div>
{% endblock %}